body {
    margin: 0;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input, button {
    font-size: 20px;
}

.main-grid {
    display: grid;
    grid-template-rows: 70px calc(100% - 70px);

}
#header {
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
}

.main-grid nav {
    background-color: rgb(48, 48, 48);
    color: white;
    border-radius: 50px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}
.main-grid nav .item {
    display: inline-block;
    vertical-align: middle;
    background-color: antiquewhite;
    color: black;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
}

.selected {
    font-size: 35px;
    font-weight: bold;
    padding-right: 50px;
    padding-left: 50px;
}

.spaceCenter {
    margin-left: 30vw;
    margin-right: 30vw;
    width: 40vw;
    padding: 10px;
    border-left: 5px solid rgb(48, 48, 48);
    border-right: 5px solid rgb(48, 48, 48);
}

.elementList {
    display: grid;
    grid-gap: 10px;
}
.elementList * {
    background-color: #ffa500;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    width: calc(100% - 20px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.elementList * *:first-child {
    width: 100%;
}

.elementList * *:not(:first-child) {
    width: min-content;
    background-color: #89C35C;
    border: 2px solid #6c9549;
    margin-left: 5px;
    cursor: pointer;
}

.elementList * .deleteButton {
    background-color: #c21e29;
    border: 2px solid red;
}

.elementList * .inactive {
    background-color: #686868;
    border: 2px solid #a8a8a8;
    color: #a8a8a8;
}

.notify {
    position: absolute;
    background-color: white;
    right: 10px;
    border-radius: 10px;
    padding: 2px;
    z-index: 1000000;
    white-space: pre;
}

.notify-error {
    border: 4px solid red;
}

.notify-info {
    border: 4px solid lawngreen;
}